
* {
    /*outline: 2px solid red;*/
}


div.top {
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 10px;
  background-color: #1F2937;
  color: #E5E7Eb;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: space-between;
  align-content: center;
}
div.topNav {
  align-self: center;
  display: flex;
}

div.Links {
  margin-left: 10px;
}


div.Logo {
  
  align-self: center;
  font-weight: 600;
  text-size-adjust: 24px;
  color: #F9FAF8;
}

div.topBody {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 100px;
  padding-right: 100px;
  background-color: #1F2937;
  color: #E5E7Eb;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: space-between;
  align-content: center;
}


img {
  max-width: 100%;
  height: auto;

}

.topHeaderTxt {
  margin: 0px;
  line-height: 1;
  font-size: 48px;
  color: #F9FAF8;
  font-weight: 800;
}

button {
  border-radius: 8px;
  background-color: #3882F6;
  color: #F9FAF8;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;

}

  div.bottom {
    background-color: #E5E7Eb;
  }

  div.banner {
    background-color: 
    color: #F9FAF8;
  }